@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

.rst-content .toctree-wrapper > p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: Roboto, ff-tisa-web-pro, Georgia, Arial, sans-serif !important;
}

.wy-nav-content {
    background: #fff;
    max-width: 900px;
}

.wy-nav-content-wrap {
    background: #fff;
}

.wy-side-nav-search {
    background-color: #EFF3FC;
}

.wy-nav-side {
    background: #EFF3FC;
}

.wy-menu-vertical a {
    color: #333333;
}

.wy-menu-vertical header, .wy-menu-vertical p.caption {
    color: #187ADC;
}

.wy-side-nav-search > div.version {
    margin-top: -.4045em;
    margin-bottom: .809em;
    font-weight: 400;
    font-size: 16px;
    color: #7b7b7b;
}

a {
    color: #187ADC;
}

a:visited {
    color: #00142B;
}

.wy-menu-vertical li.toctree-l1.current>a {
    border-bottom: 0;
    border-top: 0;
}

.wy-menu-vertical li ul {
    background: #eff3fc00;
}


.wy-menu-vertical li.toctree-l1.current > a {
    background: #e5ecfb;
}

.wy-menu-vertical li.toctree-l2 > a,
.wy-menu-vertical li.toctree-l2 li.toctree-l3>a {
    background: #e5ecfb;
}

.wy-menu-vertical li.toctree-l2.current > a,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a {
    background: #dbe3f8;
}

.wy-menu-vertical li.toctree-l3.current>a,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
    background: #d1dbf6;
}

.wy-menu-vertical li.toctree-l3 > a,
.wy-menu-vertical li.toctree-l3 li.toctree-l3>a {
    background: #d1dbf6;
}

.wy-menu.wy-menu-vertical li a:hover,
.wy-menu-vertical li.current a:hover,
.wy-menu-vertical li.toctree-l2.current > a:hover,
.wy-menu-vertical li.toctree-l2.current li.toctree-l3 > a:hover,
.wy-menu-vertical li.toctree-l3.current > a:hover,
.wy-menu-vertical li.toctree-l3.current li.toctree-l4 > a:hover {
    background: #c5d3f7;
}
