pip-tools==7.4.1                        # BSD
sphinx==8.2.3                           # BSD
sphinx-rtd-theme==3.0.2                 # MIT
sphinx-markdown-tables==0.0.17          # GPLv3
sphinxcontrib.mermaid==1.0.0            # Apache 2.0
recommonmark==0.7.1                     # MIT
myst-parser==4.0.1                      # MIT
sphinx-inline-tabs==2023.4.21           # MIT
sphinxemoji==0.2.0                      # BSD-3-Clause
agntcy-acp==1.1.1                       # Apache 2.0
autodoc_pydantic==2.2.0                 # MIT
